-var full_1 = '11 900р.';
-var full_2 = '23 900р.';
-var full_3 = '105 900р.';
-var sale_1 = '2 000р.';
-var sale_2 = '4 000р.';
-var sale_3 = '6 000р.';
-var today_1 = '9 900р.';
-var today_2 = '19 900р.';
-var today_3 = '99 900р.';
-var link_1 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=2940&clean=true&lg=ru';
-var link_2 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=2941&clean=true&lg=ru';
-var link_3 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=2942&clean=true&lg=ru';
-var prep_bonus = '1 100р.'
-var prep_cred = '3 000р.'
-var prep_link = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=2957&clean=true&lg=ru '

section#prices
	.container
		h3.general_title.general_title_prices Варианты участия в онлайн практикуме:
		.row
			.col-md-4.col-sm-6
				.packet
					.packet_head
						h4.packet_head_title Практикум 
							span "Основы Шаманизма"
					.packet_body
						p.packet_body_text Онлайн участие и записи
						p.more_button(data-toggle="modal" data-target="#modalPlan") Подробнее
						p.packet_body_text Закрытая площадка с ответами на вопросы
					.packet_footer
						p.cost.cost_full Стоимсоть:
							span= full_1
						p.cost.cost_sale Скидка:
							span#sale_1= sale_1
						p.cost.cost_today Стоимость сегодня:
							span#today_1= today_1
						a.button.button_cost(target="_blank" href= link_1)#link_1 Выбрать
			.col-md-4.col-sm-6
				.packet
					.packet_head
						h4.packet_head_title 
							span Практикум&nbsp;
							| + 
							span Мастер группа
					.packet_body
						p.packet_body_text Онлайн участие и записи
						p.more_button(data-toggle="modal" data-target="#modalPlan") Подробнее
						p.packet_body_text Мастер Группа
						p.more_button(data-toggle="modal" data-target="#modalMg") Подробнее
						p.packet_body_text Закрытая площадка с ответами на вопросы
					.packet_footer
						p.cost.cost_full Стоимсоть:
							span= full_2
						p.cost.cost_sale Скидка:
							span#sale_2= sale_2
						p.cost.cost_today Стоимость сегодня:
							span#today_2= today_2
						a.button.button_cost(target="_blank" href= link_2)#link_2 Выбрать
			.col-md-4.col-sm-6.col-md-offset-0.col-sm-offset-3
				.packet
					.packet_head
						h4.packet_head_title ВИП 
							span - Индивидуальное обучение
					.packet_body
						p.packet_body_text Онлайн участие и записи
						p.more_button(data-toggle="modal" data-target="#modalPlan") Подробнее
						p.packet_body_text Мастер Группа
						p.more_button(data-toggle="modal" data-target="#modalMg") Подробнее
						p.packet_body_text Индивидуальный подход
						p.more_button(data-toggle="modal" data-target="#modalPersonal") Подробнее
						p.packet_body_text Закрытая площадка с ответами на вопросы
					.packet_footer
						p.cost.cost_full Стоимсоть:
							span= full_3
						p.cost.cost_sale Скидка:
							span#sale_3= sale_3
						p.cost.cost_today Стоимость сегодня:
							span#today_3= today_3
						a.button.button_cost(target="_blank" href= link_3)#link_3 Выбрать
		.prepayment.hide
			h4.prepaymant_title Акция!!!
			p.prepayment_text Платите 1 900 рублей, бонусом получаете 
				span#prepayment_bonus= prep_bonus
				br
				| На счет зачисляется 
				span#prepayment_credited=prep_cred 
			a.button.prepayment_button(href= prep_link target="_blank" id="prepayment_link") Оплатить 1 900р.
		.timer.hide
			h4.timer_title Скидка сгорит через:
			.clock
			.clock-stop